.table-of-contents {
    overflow: hidden;
    white-space: nowrap;
    display: flex;

    .internal-link {
        text-decoration: none !important;
        background-color: var(--background-primary);
        position: relative;
        z-index: 2;
    }

    align-items: end;
}

.markdown-embed .table-of-contents .internal-link {
    background-color: var(--embed-background);
}

.title1 {
    text-indent: 2em;
}

.title2 {
    text-indent: 4em;
}

.table-of-contents::after {
    position: sticky;
    right: 0px;
    content: "................................................";
    color: var(--link-color);
    letter-spacing: 0.7em;
}

.el-p br {
   display: none;
}