/* table of contents */

.entry {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "chapter";
    align-items: end;
    gap: 0.25rem;
}

.chapter {
    grid-area: chapter;
    position: relative;
    overflow: hidden;

    .internal-link {
        text-decoration: none !important;
    }
}

.chapter::after {
    position: absolute;
    padding-left: 0.25ch;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    letter-spacing: 0.3em;
    text-align: right;
}

.chapter.depth-h2 {
    margin-left: 1em;
}

.chapter.depth-h3 {
    margin-left: 2em;
}

/* title */

.custom-title {
    display: grid;
    position: relative;
    grid-template-columns: max-content;
    grid-template-areas: "section name";
    gap: 1em;
}

.custom-number {
    position: relative;
    grid-area: section;
}

.custom-section {
    position: relative;
    grid-area: name;
}